{% extends 'learning_logs/base.html' %}

{% block page_header %}
  <h1>Delete Topic</h1>
{% endblock page_header %}

{% block content %}

<p>Are you sure you want to delete "{{ topic.text }}"?</p>
<p>This will also delete all entries associated with this topic.</p>

<form method="post">
  {% csrf_token %}
  <button class = "btn btn danger" type="submit">Delete</button>
  <a href="{% url 'learning_logs:topics' %}" class="btn btn-secondary">Cancel</a>
</form>

{% endblock content %}